:root {
    --one: "Roboto";
}

marquee {
    text-transform: uppercase;
    font-size: large;
    color: red;
    margin-bottom: 60px;
}

a{
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1320px;
}